In [98]:
import pandas as pd
df = pd.read_csv('../Data/heart.csv')
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [99]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [100]:
df.isna().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [101]:
df.shape

(918, 12)

In [102]:
df = df[df['RestingBP'] != 0]
df = df[df['Cholesterol'] != 0]
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,746.000000,746.000000,746.000000,746.000000,746.000000,746.000000,746.000000
mean,52.882038,133.022788,244.635389,0.167560,140.226542,0.901609,0.477212
std,9.505888,17.282750,59.153524,0.373726,24.524107,1.072861,0.499816
min,28.000000,92.000000,85.000000,0.000000,69.000000,-0.100000,0.000000
25%,46.000000,120.000000,207.250000,0.000000,122.000000,0.000000,0.000000
50%,54.000000,130.000000,237.000000,0.000000,140.000000,0.500000,0.000000
75%,59.000000,140.000000,275.000000,0.000000,160.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [103]:
zscore_limit = 3
df = df[abs((df['Age'] - df['Age'].mean()) / df['Age'].std()) <= zscore_limit]
df = df[abs((df['RestingBP'] - df['RestingBP'].mean()) / df['RestingBP'].std()) <= zscore_limit]
df = df[abs((df['Cholesterol'] - df['Cholesterol'].mean()) / df['Cholesterol'].std()) <= zscore_limit]
df = df[abs((df['MaxHR'] - df['MaxHR'].mean()) / df['MaxHR'].std()) <= zscore_limit]
df = df[abs((df['Oldpeak'] - df['Oldpeak'].mean()) / df['Oldpeak'].std()) <= zscore_limit]
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [104]:
df.shape

(727, 12)

In [105]:
print(df['Sex'].unique())
print(df['ChestPainType'].unique())
print(df['RestingECG'].unique())
print(df['ExerciseAngina'].unique())
print(df['ST_Slope'].unique())

['M' 'F']
['ATA' 'NAP' 'ASY' 'TA']
['Normal' 'ST' 'LVH']
['N' 'Y']
['Up' 'Flat' 'Down']

In [106]:
pd.set_option('future.no_silent_downcasting', True)

df['Sex'] = df['Sex'].replace({
    'M': 0,
    'F': 1
})

df['ChestPainType'] = df['ChestPainType'].replace({
    'ATA': 0,
    'NAP': 1,
    'ASY': 2,
    'TA': 3
})

df['RestingECG'] = df['RestingECG'].replace({
    'Normal': 0,
    'ST': 1,
    'LVH': 2
})

df['ExerciseAngina'] = df['ExerciseAngina'].replace({
    'N': 0,
    'Y': 1
})

df['ST_Slope'] = df['ST_Slope'].replace({
    'Up': 0,
    'Flat': 1,
    'Down': 2
})

df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,0,0,140,289,0,0,172,0,0.0,0,0
1,49,1,1,160,180,0,0,156,0,1.0,1,1
2,37,0,0,130,283,0,1,98,0,0.0,0,0
3,48,1,2,138,214,0,0,108,1,1.5,1,1
4,54,0,1,150,195,0,0,122,0,0.0,0,0

In [107]:
X = df.drop(['HeartDisease'], axis='columns')
y = df['HeartDisease']

In [108]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.35292242, -0.56940835, -1.54589479, ..., -0.78915642,
        -0.86046122, -0.97850127],
       [-0.40818695,  1.75620889, -0.42315202, ..., -0.78915642,
         0.13185367,  0.72742301],
       [-1.66783424, -0.56940835, -1.54589479, ..., -0.78915642,
        -0.86046122, -0.97850127],
       ...,
       [ 0.43157792, -0.56940835,  0.69959075, ...,  1.2671759 ,
         0.33031665,  0.72742301],
       [ 0.43157792,  1.75620889, -1.54589479, ..., -0.78915642,
        -0.86046122,  0.72742301],
       [-1.56286364, -0.56940835, -0.42315202, ..., -0.78915642,
        -0.86046122, -0.97850127]])

In [109]:
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.model_selection import cross_val_score

In [110]:
cross_val_score(SVC(), X_scaled, y, cv=5).mean()

0.8457439773264053

In [111]:
model_bagging = BaggingClassifier(
    estimator=SVC(),
    n_estimators=100,
    max_samples=0.8,
    oob_score=True
)
cross_val_score(model_bagging, X_scaled, y, cv=5).mean()

0.8402550779404818

In [112]:
cross_val_score(DecisionTreeClassifier(), X_scaled, y, cv=5).mean()

0.7702031176192725

In [113]:
model_bagging = BaggingClassifier(
    estimator=DecisionTreeClassifier(),
    n_estimators=100,
    max_samples=0.8,
    oob_score=True
)
cross_val_score(model_bagging, X_scaled, y, cv=5).mean()

0.8388946622579121

In [116]:
from sklearn.ensemble import RandomForestClassifier
cross_val_score(RandomForestClassifier(), X_scaled, y, cv=5).mean()

0.8554180444024562